* {
  margin: 0px;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --side-padding: 20px;
  --green: #8ac363;
  --red: #d94a38;
}

.wrapper {
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  font-size: 150%;
  border: 1px solid #ededed;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.container > * {
  border-bottom: 1px solid #dadada !important;
}
