.label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  margin-top: -4px;
  cursor: pointer;
}

.label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: -8px;
  left: 0;
  height: 36px;
  width: 36px;
  background-color: transparent;
  border: 1px solid #c7ced6;
  border-radius: 50%;
}

.label:hover input ~ .checkmark {
  background-color: #ccc;
}

.label input:checked ~ .checkmark {
  background-color: var(--green);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.label input:checked ~ .checkmark:after {
  display: block;
}

.label .checkmark:after {
  left: 13px;
  top: 8px;
  width: 5px;
  height: 10px;
  border: solid 1px white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
